body{
    background-color: black;
}
* {
    color: #FFFDD0;
}
input{
  color: black;
}
.dwnnotif{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    animation: slideUp 1s ease-out;
  }
  .slidedown{
    animation: slideDown 1s ease-out;
  }
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
}
.ybtn{
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #87ff72;
    box-shadow: 0 5px 0 #25c946;
    border-radius: 5px;
    border: 0px;
}
.ybtn:active{
    box-shadow: none;
    transform: translateY(5px);
}
.finbtn{
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #FF5733;
    box-shadow: 0 5px 0 #f53434;
    border-radius: 5px;
    border: 0px;
}
.finbtn:active{
    box-shadow: none;
    transform: translateY(5px);
}
